# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [4]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [5]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types.

print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [7]:
# Get the number of unique values for each column
unique_values = df.nunique()
print(unique_values)

# Identify categorical columns and describe their unique values
categorical_columns = df.select_dtypes(include=['object']).columns

for col in categorical_columns:
    print(f"Column '{col}' unique values: {df[col].unique()}")
    
# Range of values for numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

for col in numerical_columns:
    print(f"Column '{col}' range of values: {df[col].min()} to {df[col].max()}")

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
Column 'Customer' unique values: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
Column 'ST' unique values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Column 'GENDER' unique values: [nan 'F' 'M' 'Femal' 'Male' 'female']
Column 'Education' unique values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Column 'Customer Lifetime Value' unique values: [nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']
Column 'Number of Open Complaints' unique values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Column 'Policy Type' unique values: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Column 'Vehicle Class' unique values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Column 'Income' range of values: 0.0 to 99960.0
Column 'Monthly Premium Auto' range of values: 61.0 to 35354.0
Column 'Total Claim Amount' range of values: 0.382107 to 2893.239678

In [8]:
# Summary statistics for numerical columns
numerical_summary = df.describe().transpose()
print(numerical_summary)

# Additional statistics: median and mode
numerical_median = df.median()
numerical_mode = df.mode().iloc[0]

print("Median values:\n", numerical_median)
print("Mode values:\n", numerical_mode)

                       count          mean           std        min  \
Income                1071.0  39295.701214  30469.427060   0.000000
Monthly Premium Auto  1071.0    193.234360   1601.190369  61.000000
Total Claim Amount    1071.0    404.986909    293.027260   0.382107

                               25%           50%      75%           max
Income                14072.000000  36234.000000  64631.0  99960.000000
Monthly Premium Auto     68.000000     83.000000    109.5  35354.000000
Total Claim Amount      202.157702    354.729129    532.8   2893.239678

TypeError: could not convert string to float: 'RB50392'

In [9]:
# Summary statistics for categorical columns
for col in categorical_columns:
    print(f"Summary statistics for '{col}':")
    print(f"Mode: {df[col].mode()[0]}")
    print(f"Unique values count: {df[col].nunique()}")
    print()

Summary statistics for 'Customer':
Mode: AA71604
Unique values count: 1071

Summary statistics for 'ST':
Mode: Oregon
Unique values count: 8

Summary statistics for 'GENDER':
Mode: F
Unique values count: 5

Summary statistics for 'Education':
Mode: Bachelor
Unique values count: 6

Summary statistics for 'Customer Lifetime Value':
Mode: 251459.20%
Unique values count: 1027

Summary statistics for 'Number of Open Complaints':
Mode: 1/0/00
Unique values count: 6

Summary statistics for 'Policy Type':
Mode: Personal Auto
Unique values count: 3

Summary statistics for 'Vehicle Class':
Mode: Four-Door Car
Unique values count: 6

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [10]:
# Your code here

# Create a Series object with customer locations and their frequencies
location_frequencies = df['ST'].value_counts()

# Retrieve the top 5 least common locations in ascending order
top_5_less_common_locations = location_frequencies.nsmallest(5)

print(top_5_less_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [11]:
# Your code here

# Create a Series object with policy types and their frequencies
policy_type_frequencies = df['Policy Type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
most_sold_policy_type = policy_type_frequencies.idxmax()

print("Total number of policies sold for each type of policy:")
print(policy_type_frequencies)
print("\nPolicy type with the highest number of policies sold:")
print(most_sold_policy_type)

Total number of policies sold for each type of policy:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the highest number of policies sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [12]:
# Filter the dataset for customers with Personal Auto policies
personal_auto_income = df[df['Policy Type'] == 'Personal Auto']['Income']

# Filter the dataset for customers with Corporate Auto policies
corporate_auto_income = df[df['Policy Type'] == 'Corporate Auto']['Income']

# Calculate the average income for each group
average_personal_auto_income = personal_auto_income.mean()
average_corporate_auto_income = corporate_auto_income.mean()

print(f"Average income of customers with Personal Auto policies: ${average_personal_auto_income:.2f}")
print(f"Average income of customers with Corporate Auto policies: ${average_corporate_auto_income:.2f}")

# Compare the average incomes
if average_personal_auto_income < average_corporate_auto_income:
    print("Customers with Personal Auto policies have a lower average income than those with Corporate Auto policies.")
else:
    print("Customers with Personal Auto policies do not have a lower average income than those with Corporate Auto policies.")

Average income of customers with Personal Auto policies: $38180.70
Average income of customers with Corporate Auto policies: $41390.31
Customers with Personal Auto policies have a lower average income than those with Corporate Auto policies.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here